---

---

<script></script>

<article class="services__card">
  <p class="services__card__text">
    Lorem ipsum dolor sit ametsum dolor sit amet
  </p>
</article>

<style>
  .services__card {
    text-align: center;
    font-size: 1.1rem;
    padding: 0.8rem 0.5rem;
    border-radius: 20px;

    background-color: #ff5d4b;
  }

  .services__card__text {
    color: white;
  }
</style>
