---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero/Hero.astro";
import Services from "../components/services/Services.astro";
import Project from "../components/project/Project.astro";
import Contact from "../components/contact/contact.astro";
---

<script></script>

<Layout title="Smart Trading">
  <main>
    <div class="design__background_top">
      <Hero />
      <Services />
    </div>
    <div class="design__background_bottom">
      <Project />
      <Contact />
    </div>
  </main>
</Layout>

<style>
  .design__background_top {
    background-image: url("/picos.png");
    background-repeat: no-repeat;
  }

  .design__background_bottom {
    background-image: url("/decoration_three.webp");
    background-repeat: no-repeat;
  }
</style>
