---

---

<script></script>

<section class="hero">
  <section class="hero__content">
    <h1 class="hero__title">Lorem ipsum dolor sit amet</h1>
    <p class="hero__paragraph">
      Donec a orci lectus. Aliquam finibus dignissim justo malesuada lacinia.
      Mauris gravida erat et porttitor mollis.
    </p>
    <a class="hero__contact" href="#">Contáctanos</a>
  </section>
</section>

<style>
  .hero {
    padding: 75px 0;
    background-image: linear-gradient(#0000005e, #0000005e),
      url(./provicional_background.png);
    background-position: center;
    background-position: 80%;
    min-height: 62vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    position: relative;
    padding: 34px 0;
    gap: 35px;
    width: 80%;
    margin: 0 auto;
  }

  .hero__title {
    font-size: 2.5rem;
    font-weight: bold;
    text-wrap: balance;
    color: white;
  }

  .hero__paragraph {
    text-wrap: pretty;
    max-width: 40ch;
    color: white;
  }

  .hero__contact {
    font-size: 1.1rem;
    padding: 16px;
    border-radius: 10px;
    background-color: #ff5d4b;
    color: white;
  }
</style>
